@model IList<EmailSender.Models.ReportViewModel>
@{
    ViewBag.Title = "Report Page";
}
<div class="col-md-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Date Send</th>
                <th scope="col">Failed Count</th>
                <th scope="col">Delivered Count</th>
                <th scope="col">Pending Count</th>
                <th scope="col">File Name</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var report in Model)
                {
                    <tr>
                        <th scope="row">@report.CreatedDate</th>
                        <td>@report.FailedCount</td>
                        <td>@report.DeliveredCount</td>
                        <td>@report.PendingCount</td>
                        <td>
                            @Html.ActionLink(report.FileName, "DownloadFile", "Report", new { fileName= report.FileName }, new { @class = "a" })
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>

