@model EmailSender.Models.TemplateViewModel
@{
    ViewBag.Title = "Templates";
}

@functions {
    object getHtmlAttributes(int dataShareId, int ownerId)
    {
        if (Model.LoggedInUserId != ownerId)
        {
            return new { @class = "form-check-input", disabled = true };
        }
        return new { data_share_check = dataShareId, @class = "form-check-input", @style = "cursor:pointer" };
    }
}


@using (Html.BeginForm("Index", "Template", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 d-flex align-items-center">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")" class="link"><i class="mdi mdi-home-outline fs-4"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">Templates</li>
                    </ol>
                </nav>
            </div>

            <div class="col-8">
                <div class="file btn btn-primary" style="float:right">
                    <i class="mdi mdi-upload"></i>
                    Upload new
                    <input type="file" class="form-control-file" id="MasterFile" name="MasterFile" accept="text/plain" />
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:6px">
            <div class="col-6"></div>
            <div class="col-6">
                <div id="upload-master-cancel" style="display:none">
                    <button type="button" id="btn-master-cancel" class="btn btn-danger btn-sm" style="float:right">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-sm" style="float:right">Submit</button>
                    <span style="float:right" data-control-id="MasterFile"></span>
                </div>
            </div>
        </div>
    </div>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div class="table-responsive" style="width:100%">
                            <table class="table mb-0 table-hover align-middle text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">Id</th>
                                        <th class="border-top-0">Name</th>
                                        <th class="border-top-0">Owner</th>
                                        <th class="border-top-0">Share</th>
                                        <th class="border-top-0">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var item in Model.TemplateList)
                                        {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.Name</td>
                                                <td>@item.OwnerId</td>
                                                <td>
                                                    @Html.CheckBox("share", item.Share, getHtmlAttributes(item.Id, item.OwnerId))
                                                </td>
                                                <td><button data-preview data-id="@item.Id" type="button" class="btn btn-primary btn-sm">Preview</button></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/Scripts/site.email-templates.js"></script>
}


