@model EmailSender.Models.ReportViewModel
@{
    ViewBag.Title = "Report Page";
}
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 d-flex align-items-center">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")" class="link"><i class="mdi mdi-home-outline fs-4"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Report</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div class="table-responsive" style="width:100%">
                            <table class="table mb-0 table-hover align-middle text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">Id</th>
                                        <th class="border-top-0">Date Send</th>
                                        <th class="border-top-0">Template Name</th>
                                        <th class="border-top-0">Status</th>
                                        <th class="border-top-0">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var report in Model.EmailHistoryList)
                                        {
                                            <tr>
                                                <td><label class="badge bg-purple">@report.Id</label></td>
                                                <th scope="row">@report.SendAt</th>
                                                <td><label class="badge bg-danger">@report.RecipientTemplateName</label></td>
                                                <td><label class="badge bg-success">@report.Status</label></td>
                                                <td>
                                                    <button data-preview data-id="@report.Id" type="button" class="btn btn-primary btn-sm">Preview</button>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="amp-pxl mt-4 col-12" style="height: 10px;">
                        <div class="pagination" style="float:right;">
                            @{ 
                                Html.RenderPartial("_PagingPartial", Model.PaginationModel);
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/Scripts/site.reports.js"></script>
}
