@model EmailSender.Models.EmailSendModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        @{
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body" style="display:none" id="modal-body-1">
                            <h4 class="modal-title" id="myModalLabel">Sending email</h4>
                            <br />
                            <p id="progress-text">Sending email to selected recipients...</p>
                            <div class="progress">
                                <div id="send-progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                            </div>
                        </div>
                        <div class="modal-body" id="modal-body-2">
                            <h4 class="modal-title" id="myModalLabel">Are you sure you want to send email to below users?</h4>
                            <br />
                            <div class="table-responsive" style="width:100%; max-height:200px; overflow-y: scroll">
                                <table class="table mb-0 table-hover align-middle text-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">Client Email</th>
                                            <th class="border-top-0">CC</th>
                                            <th class="border-top-0">BCC</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td scope="row">Email</td>
                                            <td scope="row">CC</td>
                                            <td scope="row">BCC</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Email</td>
                                            <td scope="row">CC</td>
                                            <td scope="row">BCC</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Email</td>
                                            <td scope="row">CC</td>
                                            <td scope="row">BCC</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Email</td>
                                            <td scope="row">CC</td>
                                            <td scope="row">BCC</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Email</td>
                                            <td scope="row">CC</td>
                                            <td scope="row">BCC</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="modal-footer" id="modal-footer-1">
                            <button id="btn-send" type="button" class="btn btn-default">Send</button>
                            <button id="btn-cancel" type="button" class="btn modal-close">Cancel</button>
                        </div>

                        <div class="modal-footer" id="modal-footer-2" style="display:none">
                            <button id="btn-close" type="button" class="btn modal-close">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            if (!string.IsNullOrWhiteSpace(ViewBag.Error))
            {
                <div class="alert alert-danger" role="alert"> <strong>Oh snap!</strong> @ViewBag.Error</div>
            }
        }

    </div>

    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 panel-container">
                                <div id="recipients-box-panel" class="box-panel panel panel-default" style="position:relative">
                                    <div class="download-template">
                                        <label>Template:</label>
                                        <input type="checkbox" id="UseDefaultTemplate" name="RecipientsTemplate" data-width="75" data-toggle="toggle" data-size="small" data-on="Default" data-off="New">
                                        @Html.ActionLink("Download latest Template", "RecipientsBlankTemplate", "download", new { }, new { @class = "" })
                                    </div>
                                    <div id="new-file-container" class="panel-body vertical-center text-center file-upload-container">
                                        <div class="row">
                                            @Html.LabelFor(model => model.RecipientPath)
                                        </div>
                                        <div class="file btn btn-primary">
                                            <i class="mdi mdi-upload"></i>
                                            Upload
                                            <input type="file" class="form-control-file" id="RecipientFile" name="RecipientFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                                        </div>
                                        <br />
                                        <span data-control-id="RecipientFile">No File Selected</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card">
                    <div class="btn hidden" type="button" data-toggle="collapse" data-target="#emailtext" aria-expanded="false" aria-controls="collapseExample">
                        Email content
                        <i class="mdi mdi-arrow-down"></i>
                    </div>
                    <div class="card-body collapse" id="emailtext">
                        <div class="row">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.Subject)
                                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.Greeting)
                                @Html.EditorFor(model => model.Greeting, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Greeting, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="selectTemplate">Select Template</label>
                                <select id="selectTemplate" class="form-select shadow-none form-control-linel">
                                    <option value="">Blank</option>
                                    <option value="basic">Basic template</option>
                                    <option value="custom">Custom template</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.AttachmentFile)
                                <br />
                                <div class="file btn btn-primary">
                                    <i class="mdi mdi-upload"></i>
                                    Upload
                                    <input type="file" class="form-control-file" id="AttachmentFile" name="AttachmentFile" />
                                </div>
                                <span data-control-id="AttachmentFile">No File Selected</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.Body)
                                @Html.TextAreaFor(model => model.Body, new { @id = "email-body", @class = "form-control textarea-editor" })
                                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <button id="btnSubmit" type="button" class="btn btn-primary" style="float:right">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link href="~/Content/summernote-lite.css" rel="stylesheet" />
    <script src="~/Scripts/summernote-lite.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
}

