<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Email Sending</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="col-md-12">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home")" title="List View" class="navbar-brand" style="padding-top:11px">
                    <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" style="display:inline">
                    Email sender
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Manage Email", "Index", "Home")</li>
                    <li>@Html.ActionLink("Report", "Index", "Report")</li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            Welcome! <strong>User</strong>
                        </a>
                    </li>
                </ul>
              
            </div>
        </div>
    </div>
    <div class="body-content col-md-12 flex-column min-vh-100" style="margin-top: 40px">
        @RenderBody()
        <hr />
        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - Footer of application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
